<a href="https://colab.research.google.com/github/noonnoonzii/LAB_Profun/blob/main/Lab_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

4.1 2520 คือ ตัวเลขที่น้อยที่สุด ที่สามารถหารด้วยตัวเลขทุกตัวตั้งแต่ 1-10 จงหาจำนวนเต็มบวกที่น้อยที่สุดที่หารด้วยตัวเลขทุกตัวตั้งแต่ 1-20

15 = 360360

20 = 232792560

ปล. ห้าม import math

In [ ]:
n = 1

while True:
    count = 0
    for i in range(1, 21):
        if n % i == 0:
            count += 1
    if count == 20:
        break
    n += 1
print(n)

จำนวนที่สามารถหาร 1-20 ลงตัวครบทุกตัวคือ: 232792560

4.2 จำนวนเฉพาะ (Prime Number) คือตัวเลขที่มีแต่ 1 กับตัวมันเองที่หารลงตัว โดยจำนวนเฉพาะ 6 ตัวแรกคือ 2, 3, 5, 7, 11, 13 โดยจำนวนเฉพาะตัวที่ 6 คือ 13 จงหาจำนวนเฉพาะตัวที่ 101

=> 547

In [ ]:
PrimeNumber = [2,3,5,7,11,13,]
for i in range(14, 550):
    count = 0
    for j in PrimeNumber:
      if i % j == 0:
          count += 1
    if count == 0:
        PrimeNumber.append(i)
print(PrimeNumber[100])
#ที่เป็น ตำแหน่ง ที่ 100 เพราะ list  ตัวแรก คือ 0 เพราะฉะนั้นถ้าเรานับจาก 1 100 จะเท่า 101 ครับ

547

1.	กำหนดให้มี List หนึ่งประกอบด้วยตัวเลขจำนวนหนึ่ง และ ให้รับตัวเลขจำนวน 1 จำนวน จากนั้นให้หาว่าใน List มีตัวเลข 2 จำนวนใดที่บวกกันเท่ากับตัวเลขที่รับมา ให้แสดงคำตอบเป็น List เช่น Output: [0,1] โดยอาจมีมากกว่า 1 คำตอบ

ตัวอย่าง list : [2, 7, 11, 15]

Input : 9

Output : 2 + 7 = 9 (ถ้าไม่มีให้บอก None)

In [ ]:
lalist = [4,8,12,18]
n = int(input())
for i in range(len(lalist)):
  for j in range(len(lalist)):
    if lalist[i]+lalist[j] == n:
      print(f"{lalist[i]}+{lalist[j]} = {n}")
    else:
      print("None")

12
None
4+8 = 12
None
None
8+4 = 12
None
None
None
None
None
None
None
None
None
None
None

2.	ให้เขียนโปรแกรมรับข้อมูล 1 บรรทัด ประกอบด้วยตัวเลข 1 หลัก จำนวนไม่เกิน 10 ตัว คั่นด้วยช่องว่าง จากนั้นให้นำตัวเลขที่รับเข้ามาเรียงกัน และหาลำดับการเรียงที่ทำให้มีค่าน้อยที่สุด โดยต้องไม่ขึ้นต้นด้วย 0

Input : 9 4 6 2  

คำตอบ 2469

Input : 3 0 8 1 3 3

คำตอบ : 103338

In [ ]:
n = input()
lalist = n.split()
s_lalist = []
for i in lalist:
  s_lalist.append(int(i))
s_lalist.sort()
if s_lalist[0] == 0:
  s_lalist[0], s_lalist[1] = s_lalist[1],s_lalist[0]
for j in range(len(s_lalist)):
  print(s_lalist[j],end="")

3 0 8 1 3 3
103338

3.	จากตัวเลขต่อไปนี้ ตัวเลขติดกัน 4 ตัวที่เมื่อนำมาคูณกันแล้วมีค่ามากที่สุดคือ 9 × 9 × 8 × 9 = 5832

73167176531330624919225119674426574742355349194934
96983520312774506326239578318016984801869478851843
85861560789112949495459501737958331952853208805511
12540698747158523863050715693290963295227443043557
66896648950445244523161731856403098711121722383113
62229893423380308135336276614282806444486645238749
30358907296290491560440772390713810515859307960866
70172427121883998797908792274921901699720888093776
65727333001053367881220235421809751254540594752243
52584907711670556013604839586446706324415722155397
53697817977846174064955149290862569321978468622482
83972241375657056057490261407972968652414535100474
82166370484403199890008895243450658541227588666881
16427171479924442928230863465674813919123162824586
17866458359124566529476545682848912883142607690042
24219022671055626321111109370544217506941658960408
07198403850962455444362981230987879927244284909188
84580156166097919133875499200524063689912560717606
05886116467109405077541002256983155200055935729725
71636269561882670428252483600823257530420752963450

จงหาเลขติดกัน 8 ตัวที่เมื่อนำมาคูณกันแล้วมีค่ามากที่สุด และเป็นเลขอะไร ผลคูณเท่ากับเท่าไร

The maximum product is: 7838208
The digits are: 88399879

In [ ]:
n = """73167176531330624919225119674426574742355349194934 96983520312774506326239578318016984801869478851843
 85861560789112949495459501737958331952853208805511 12540698747158523863050715693290963295227443043557
 66896648950445244523161731856403098711121722383113 62229893423380308135336276614282806444486645238749
 30358907296290491560440772390713810515859307960866 70172427121883998797908792274921901699720888093776
 65727333001053367881220235421809751254540594752243 52584907711670556013604839586446706324415722155397
 53697817977846174064955149290862569321978468622482 83972241375657056057490261407972968652414535100474
 82166370484403199890008895243450658541227588666881 16427171479924442928230863465674813919123162824586
 17866458359124566529476545682848912883142607690042 24219022671055626321111109370544217506941658960408
 07198403850962455444362981230987879927244284909188 84580156166097919133875499200524063689912560717606
05886116467109405077541002256983155200055935729725 71636269561882670428252483600823257530420752963450"""

n_list = []
for i in range(int(n)):
  n_list.append(i)

print(n_list)

ValueError: invalid literal for int() with base 10: '73167176531330624919225119674426574742355349194934 96983520312774506326239578318016984801869478851843\n 85861560789112949495459501737958331952853208805511 12540698747158523863050715693290963295227443

4.	ตัวเลข palindrome คือตัวเลขที่อ่านได้ทั้ง 2 ทาง แล้วมีค่าเท่ากัน เช่น 9009 โดย 9009 คือ palindrome ที่เกิดจากการคูณของตัวเลข 2 หลักที่มากที่สุด คือ 91x99 จงหา palindrome ที่มากที่สุดของตัวเลข 3 หลัก

The largest palindrome product of 3-digit numbers is: 906609

5.	กำหนดให้ string มีเพียงสัญลักษณ์ '(', ')', '{', '}', '[' และ ']' ให้ตรวจสอบว่า String ถูกต้อง โดย เมื่อมีวงเล็บเปิด จะต้องมีวงเล็บปิดที่เป็นชนิดเดียวกัน จำนวนเท่ากันที่เป็นคู่ของมัน

```
Input: s = "()"
Output: true
Input: s = "()[]{}"
Output: true
Input: s = "[()]{}"
Output: true
Input: s = "(]"
Output: false
```

In [ ]:
s = input("")

nail = s.count("(") == s.count(")")
box = s.count("[") == s.count("]")
ka = s.count("{") == s.count("}")

print(nail and box and ka)

([][][{}]()()())
True

6.	กำหนดให้รับข้อมูล Integer (เป็นบวกหรือลบก็ได้) จากนั้นให้แสดงผลลัพธ์ที่ reverse ตัวเลขตามตัวอย่าง

```
Input: x = 123
Output: 321
Input: x = -123
Output: -321
Input: x = 120
Output: 21
```

In [ ]:
x = int(input())
new_x = str(x)[::-1]
if new_x[-1] == '-':
  reverse = '-' + new_x[0:-1:]
  print(int(reverse))
else:
  print(int(new_x))

-1020
-201

7.	เขียนโปรแกรมเพื่อแสดงปิรามิดบนจอภาพ โดยแสดงเป็นรูปสี่เหลี่ยม ตัวเลขเริ่มจาก 0  และเพิ่มค่าตามลําดับจํานวนขั้น จาก 0 ถึง N (รับค่า N จากคีย์บอร์ด) ค่าของ N อยู่ระหว่าง 0-9 ดังตัวอย่าง


```
									         0000000
							    00000		0111110
					000		 01110		0122210
			0		010		01210		0123210
					000		 01110		0122210
							    00000		0111110
									         0000000

			n=0		n=1		n=2		n=3

```

8.	เขียนโปรแกรมเพื่อแสดงปิรามิดบนจอภาพ โดยแสดงเป็นรูปสี่เหลี่ยม ตัวเลขเริ่มจาก 0  และเพิ่มค่าตามลําดับจํานวนขั้น จาก 0 ถึง N (รับค่า N จากคีย์บอร์ด) กําหนดให้จุดศูนย์กลางของรูปสี่เหลี่ยมอยู่ที่แถว 13 คอลัมน์ 40 ของจอภาพค่าของ N อยู่ระหว่าง 0-9 ดังตัวอย่าง



```
									            0
							      0		    010
					  0		  010		  01210
			0		010		01210		0123210
					  0		  010		  01210
							      0		    010
									            0

			n=0		n=1		n=2		n=3

```

In [66]:
n = 6


for i in range(n+2):
  for j in range(i):
    if j == 0:
      print(" "*(n-i),end="")
    print(j,end="")
  for j in range(i-2,-1,-1):
    print("*",end="")
  print()

for i in range(n-1,-1,-1):
  for j in range(i):
    if j == 0:
      print(j*(n-i),end="")
    print("*",end="")
  for j in range(i-2,-1,-1):
    print(j,end="")
  print()

     0
    01*
   012**
  0123***
 01234****
012345*****
0123456******
0*****3210
0****210
0***10
0**0
0*

9.	ให้เขียนโปรแกรมสร้างรูปสามเหลี่ยมที่วางซ้อนกัน 3 รูป โดยแต่ละรูปสร้างมาจากเครื่องหมาย "*" โดยกําหนดให้รับตัวเลขระดับของสามเหลี่ยมจากคีย์บอร์ด จากตัวอย่างข้างล่างนี้เป็นรูปสามเหลี่ยมระดับที่ 3 และ 4



```
              *
		     ***
		    *****
		   *     *
	      ***   ***
	     ***** *****

  		    *
	  	   ***
		    *****
		   *******
	      *       *
	     ***     ***
	    *****   *****
	   ******* *******

```

In [315]:
n = int(input())
table = n * 2
for row in range(0,table+1):
  if row > n:
    row = table - row
  for col in range(0,table+1):
    print(" "if col != n else row,end="")
    if row != 0 and col == row:
      print(row-row)

  print()

5
     0
     1
     2
     3
     4
     5
     4
     3
     2
     1
     0